<section class="u-clearfix u-section-7" id="carousel_db96">
    <style>
              .u-section-7 .u-image-1 {
        background-image: url("{{ url_for('static', filename='images/pexelsphoto.jpg') }}");
        background-position: 100% 50%;
        min-height: 368px;
      }

      .u-section-7 .u-container-layout-1 {
        padding: 30px;
      }

      .u-section-7 .u-image-2 {
        background-image: url("{{ url_for('static', filename='images/pexelsphoto1020325.jpeg') }}");
        background-position: 50% 50%;
        min-height: 368px;
      }

      .u-section-7 .u-container-layout-2 {
        padding: 30px;
      }

      .u-section-7 .u-image-3 {
        background-image: url("{{ url_for('static', filename='images/pexelsphoto1037992.jpeg') }}");
        background-position: 50% 50%;
        min-height: 368px;
      }

      .u-section-7 .u-container-layout-3 {
        padding: 30px;
      }

      .u-section-7 .u-image-4 {
        min-height: 368px;
        background-image: url("{{ url_for('static', filename='images/pexelsphoto2457317.jpg') }}");
        background-position: 50% 50%;
      }
      .u-section-7 .u-image-5 {
        background-image: url("{{ url_for('static', filename='images/pexelsphoto1858409.jpeg') }}");
        background-position: 50% 50%;
        min-height: 368px;
      }

      .u-section-7 .u-container-layout-6 {
        padding: 30px;
      }

      .u-section-7 .u-image-6 {
        min-height: 368px;
        background-image: url("{{ url_for('static', filename='images/pexelsphoto403571.jpeg') }}");
        background-position: 100% 50%;
      }

      .u-section-7 .u-container-layout-7 {
        padding: 30px;
      }

      .u-section-7 .u-image-7 {
        min-height: 368px;
        background-image: url("{{ url_for('static', filename='images/pexelsphoto821652.jpeg') }}");
        background-position: 50% 50%;
      }

      .u-section-7 .u-container-layout-8 {
        padding: 30px;
      }

      .u-section-7 .u-image-8 {
        min-height: 368px;
        background-image: url("{{ url_for('static', filename='images/pexelsphoto2333293.jpeg') }}");
        background-position: 50% 50%;
      }
    </style>
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-col">
            <div class="u-size-20">
              <div class="u-layout-row">
                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-1">
                  <div class="u-container-layout u-container-layout-1"></div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-size-20 u-image-2">
                  <div class="u-container-layout u-container-layout-2"></div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-3">
                  <div class="u-container-layout u-container-layout-3"></div>
                </div>
              </div>
            </div>
            <div class="u-size-20">
              <div class="u-layout-row">
                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-4">
                  <div class="u-container-layout u-container-layout-4"></div>
                </div>
                <div class="u-align-center u-container-style u-layout-cell u-size-20 u-white u-layout-cell-5">
                  <div class="u-container-layout u-valign-middle u-container-layout-5">
                    <h1 class="u-text u-text-default u-text-palette-2-base u-text-1">Our Portfolio</h1>
                  </div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-5">
                  <div class="u-container-layout u-container-layout-6"></div>
                </div>
              </div>
            </div>
            <div class="u-size-20">
              <div class="u-layout-row">
                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-6">
                  <div class="u-container-layout u-container-layout-7"></div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-size-20 u-image-7">
                  <div class="u-container-layout u-container-layout-8"></div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-8">
                  <div class="u-container-layout u-container-layout-9"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>