<div class="hero">
<div class="hero context">
    {% if "title" in module_content.keys() %}
    <h1>{{ module_content["title"] }}</h1>
    {% else %}
        <h1 >No Text</h1>
    {% endif %}
</div>


<div class="hero area" >
        <ul class="hero circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
</div>
