<section class="u-clearfix u-color-scheme-u10 u-color-style-multicolor-1 u-palette-1-light-2 u-section-6" id="carousel_1f74">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-left-cell u-size-36-md u-size-36-sm u-size-36-xs u-size-42-lg u-size-42-xl u-layout-cell-1">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h1 class="u-text u-text-palette-2-base u-text-1">Do you need a consultation?</h1>
              </div>
            </div>
            <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-right-cell u-size-18-lg u-size-18-xl u-size-24-md u-size-24-sm u-size-24-xs u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <a href="https://nicepage.com/c/technology-html-templates" class="u-border-radius-50 u-btn u-btn-round u-button-style u-hover-palette-4-light-1 u-palette-2-base u-btn-1">learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>