<section class="u-align-center u-clearfix u-valign-middle-md u-white u-section-3" id="carousel_eef8">
    <style>.u-section-3 .u-image-2 {
      background-image: url("{{ url_for('static', filename='images/v.jpg') }}");
      background-position: 50% 50%;
      min-height: 396px;
    }</style>
    <img src="{{ url_for('static', filename='images/yhjcg.jpg') }}" alt="" class="u-image u-image-default u-image-1">
    <div class="u-border-radius-0 u-palette-1-light-2 u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-clearfix u-gutter-40 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div class="u-size-25 u-size-60-md">
            <div class="u-layout-col">
              <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-40 u-image-2" data-image-width="800" data-image-height="720">
                <div class="u-border-6 u-border-white u-container-layout u-container-layout-1" src=""></div>
              </div>
              <div class="u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-2">
                <div class="u-container-layout u-valign-bottom-lg u-valign-bottom-xl u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                  <h2 class="u-text u-text-default u-text-palette-2-base u-text-1">What We Offer:</h2>
                  <ul class="u-custom-list u-text u-text-default u-text-2">
                    <li>
                      <div class="u-list-icon u-text-palette-2-base">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" id="svg-859b"><path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path></svg>
                      </div>
                    </li>
                    <li>Duis aute irure dolor in</li>
                    <li>
                      <div class="u-list-icon u-text-palette-2-base">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" id="svg-859b"><path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path></svg>
                      </div>Excepteur sint occaecat
                    </li>
                    <li>
                      <div class="u-list-icon u-text-palette-2-base">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" id="svg-859b"><path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path></svg>
                      </div>Ut enim ad minim
                    </li>
                    <li>
                      <div class="u-list-icon u-text-palette-2-base">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" id="svg-859b"><path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path></svg>
                      </div>Lorem ipsum dolor
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="u-size-35 u-size-60-md">
            <div class="u-layout-col">
              <div class="u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-right-cell u-size-20 u-layout-cell-3">
                <div class="u-container-layout u-container-layout-3"></div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-palette-2-base u-right-cell u-size-40 u-layout-cell-4">
                <div class="u-container-layout u-valign-middle u-container-layout-4">
                  <h2 class="u-text u-text-default u-text-4">Branding &amp; Design</h2>
                  <p class="u-text u-text-default u-text-5">Quam nulla porttitor massa id neque aliquam vestibulum morbi. Eu consequat ac felis donec et odio pellentesque. Turpis nunc eget lorem dolor sed. Ornare quam viverra orci sagittis eu volutpat odio. Sed vulputate odio ut enim blandit volutpat.</p>
                  <a href="https://nicepage.com/k/infographic-html-templates" class="u-border-radius-50 u-btn u-btn-round u-button-style u-hover-palette-4-light-1 u-palette-1-base u-btn-3">learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>