<div style="width: 100%; display: flex; border: 2px black solid;" >
    <div style="width: 100%; display: block; height: auto;">
        <div style=" margin: 10px; display: flex; justify-content: space-between;">
        <h3 style=" text-transform: uppercase;">{{module_name}}</h3> <a class="delete_icon" href="#"><i onclick="delete_banner('{{module_name}}','Module', '{{module_id}}')" class="fa-solid fa-trash-can "></i></a>
        </div>

        <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
            {% for x in module_content.keys() %}        
            <div style="flex-basis: calc(25% - 10px); box-sizing: border-box; margin: 5px;">
                <h4>{{ x }}</h4>
                {% if module_templates[x] == "text" %}
                <input id="input_{{module_id}}_{{x}}" type="text" value="{{module_content[x]}}"> 
                {% endif %}
                {% if module_templates[x] == "url" %}
                <input id="input_{{module_id}}_{{x}}" type="url" value="{{module_content[x]}}"> 
                {% endif %}
                {% if module_templates[x] == "large_text" %}
                <textarea id="input_{{module_id}}_{{x}}" name="input_{{module_id}}_{{x}}" cols="40" rows="auto" >{{module_content[x]}}</textarea>
                {% endif %}
                {% if module_templates[x] == "color" %}
                <input type="color" id="input_{{module_id}}_{{x}}" name="input_{{module_id}}_{{x}}"  value="{{module_content[x]}}">
                {% endif %}
                {% if module_templates[x] == "img" %}
                <select name="input_{{module_id}}_{{x}}" id="input_{{module_id}}_{{x}}">
                    <optgroup label="Upload Folder"></optgroup>
                    {% for img in get_upload_files %}
                    <option value="{{img}}">{{img}}</option>
                    {% endfor %}
                    </optgroup>
                  </select>
                {% endif %}
                <button onclick="send_data_input('{{module_id}}', '{{x}}')">change</button>
                <script>
                    async function send_data_input(module_id, x){
                        console.log('input_' + module_id + '_'+x)
                    var value = document.getElementById('input_' + module_id + '_'+x).value
                    var key = x
                    var where ="content.json"
                    var page = module_id
                    
                    value
                    var response = await fetch("/api/change/", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ 
                            value,
                            key,
                            where,
                            page }),
                    });}
                    
                </script>
            </div>
            
            {% endfor %}
        </div>
        
</div>
<!--

{{module_id}}
{{module_content}} 
    {{module_templates}} -->
</div>