{% extends "cms/cms_template.html" %} 
{% block title %}Home{% endblock %}
{% block content %}
        <div id="delte_banner" style="display: none;" class="delte_banner">
            <h3>Delete <span id="delte_banner_what_title"></span>?</h3>
            <p>Are you sure you want to delete</p>
    
            <div class="warn_info">
            <h4><i class="fa fa-warning"></i> Warning</h4>
            <p>By deleting this "<span id="delte_banner_page_name"></span>" <span id="delte_banner_what"></span> you can't undo this action. (ID:<span id="delete_module_id"></span>)</p>
            </div>
    
            <div class="clearfix">
            <a class="btn1" id="cancel" onclick='document.getElementById("delte_banner").style.display = "none"; 
            document.getElementById("container").style.marginTop = "0px" ' href="#">Cancel</a>
            <a class="btn2" id="cancel" href="#" onclick="delete_click()">Delete <span id="delte_banner_what_button"></span> <i class="fa fa-trash"></i
            ></a>
            </div>
        </div>
        <script>
            function delete_banner(name,what, id){
                document.getElementById("container").style.marginTop = "-320px" 
                document.getElementById("delte_banner").style.display = "flex" 
                document.getElementById("delte_banner_page_name").innerHTML = name
                document.getElementById("delete_module_id").innerHTML = id
                document.getElementById("delte_banner_what_title").innerHTML = what
                document.getElementById("delte_banner_what_title").innerHTML = what
                document.getElementById("delte_banner_what_button").innerHTML = what
            }
            function delete_click() {
                
                var module_id = document.getElementById("delete_module_id").innerHTML;
                console.log(module_id);
                var what = document.getElementById("delte_banner_what_title").innerHTML;
                var page_name = "{{page_name}}";
                
                fetch("/api/delete", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        module_id,
                        page_name,
                        what
                    }),
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error(`Server returned ${response.status} ${response.statusText}`);
                    }
                })
                .then(data => {
                    console.log(data.redirect);
                    if (data.redirect == "reload") {
                        location.reload();
                    }else{
                    window.location.href = data.redirect;
                }
                })
                .catch(error => {
                    console.error("Error:", error);
                    // ERROR MELDUNG HIER
                });
            }


        </script>
    <div id="container" style="border: 2px black solid;width: 100%;  padding: 10px; " >
        
        <div style="display: flex; justify-content: space-between; ">
            <div style="display: flex;">
            <h1>{{ page_name }}</h1>
            <p style="margin-left: 10px; margin-top: auto; color: red;" id="page_description"></p>
            </div>
        
        <a id="page_delete" class="delete_icon" href="#"><i onclick="delete_banner('{{page_name}}','Page', '{{page_route}}')" class="fa-solid fa-trash-can "></i></a>
        </div>
            <div style="display: flex; justify-content: space-evenly;">
                <div style="display: block;width: 100%;">
                    <div style="display: block; width: 100%;">
                        <h4>Name</h4>
                        <input id="input_page_name" type="text" value="{{page_name}}"> <button onclick="send_data_input_page_name()">change</button>
                        <script>
                            async function send_data_input_page_name(){
                            var value = document.getElementById('input_page_name').value
                            var key = "page_name"
                            var where ="pages.json"
                            var page = "{{page_name}}"
                            var response = await fetch("/api/change/", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({ 
                                    value,
                                    key,
                                    where,
                                    page }),
                            });
                            location.reload();
                        }
                            
                            
                            
                            
                        </script>
                    </div>
                    <div style="display: block; width: 100%;">
                        <h4>Route</h4>
                        <input id="input_page_route" type="text" value="{{page_route}}"> <button onclick="send_data_input_route()">change</button>
                        <script>
                            async function send_data_input_route(){
                            var value = document.getElementById('input_page_route').value
                            var key = "route"
                            var where ="pages.json"
                            var page = "{{page_name}}"
                            var response = await fetch("/api/change/", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({ 
                                    value,
                                    key,
                                    where,
                                    page }),
                            });
                            window.location.href = "/cms" + value

                        }
                        </script>
                    </div>
                </div>
                <div style="display: block;width: 100%;">
                    <div style="display: block; width: 100%;">
                        <a href="https://fontawesome.com/search?o=r&m=free" target="_blank"><h4>Icon</h4></a>
                        <i style="margin-right: 5px; max-width: 25px;" id="input_page_icon_show" class="{{ pages[page_name]['icon'] }}"></i>
                        <input id="input_page_icon" type="text" value="{{ pages[page_name]['icon'] }}"> 
                        <button onclick="send_data_input_icon()">change</button>
                        <script>
                            async function send_data_input_icon(){
                            var value = document.getElementById('input_page_icon').value
                            var key = "icon"
                            var where ="pages.json"
                            var page = "{{page_name}}"
                            var response = await fetch("/api/change/", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({ 
                                    value,
                                    key,
                                    where,
                                    page }),
                            });
                            location.reload();

                        }
                        </script>
                    </div>
                </div>
                <div style="display: block;width: 100%;">
                    <div style="display: flex; width: 100%;">
                        <h4>Show Header</h4>
                        <label style="margin-left: 5px; " class="switch">
                            <input id="input_show_header" type="checkbox">
                            <span class="slider round"></span>
                          </label>
                    </div>
                    <div style="display: flex; width: 100%;">
                        <h4>Show Footer</h4>
                        <label style="margin-left: 12px; " class="switch">
                            <input id="input_show_footer" type="checkbox">
                            <span class="slider round"></span>
                          </label>
                    </div>
                </div>
                
            </div>
            <script>
                var page_name = "{{page_name}}"
                if (page_name == "Home"){
                    document.getElementById("input_page_name").disabled  = true
                    document.getElementById("input_page_route").disabled  = true
                    document.getElementById("page_delete").style.display = "none";
                    document.getElementById("page_description").innerHTML  = "(einige werte sind unveränderbar da du dich auf " + page_name+ " befindest)"
                }
            </script>
            <script>
                var show_header = "{{pages[page_name]['show_header']}}"
                var show_footer = "{{pages[page_name]['show_footer']}}"
                if (show_header == "True"){
                    document.getElementById('input_show_header').checked =true
                }
                if (show_footer == "True"){
                    document.getElementById('input_show_footer').checked =true
                }
                document.getElementById('input_show_header').addEventListener('change', function() {
                    var value = document.getElementById('input_show_header').checked
                    var key = "show_header"
                    var where ="pages.json"
                    var page = "{{page_name}}"
                    var response = fetch("/api/change/", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ 
                            value,
                            key,
                            where,
                            page }),
                    });
                });
                document.getElementById('input_show_footer').addEventListener('change', function() {
                    var value = document.getElementById('input_show_footer').checked
                    var key = "show_footer"
                    var where ="pages.json"
                    var page = "{{page_name}}"
                    var response = fetch("/api/change/", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ 
                            value,
                            key,
                            where,
                            page }),
                    });
                });
            </script>
        <div style="display: block; width: 100%;">
            
            <div style="display: flex;">
                <div style="display: block; width: 50%;">
                    <h3>SEO values</h3>
                        <h4>Title</h4>
                        <input id="input_page_seo_title" type="text" value="{{pages[page_name]['seo']['title']}}"> <button onclick="send_data_input_seo_title()">change</button>
                        <script>
                            async function send_data_input_seo_title(){
                            var value = document.getElementById('input_page_seo_title').value
                            var key = "seo_title"
                            var where ="pages.json"
                            var page = "{{page_name}}"
                            var response = await fetch("/api/change/", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({ 
                                    value,
                                    key,
                                    where,
                                    page }),
                            });

                        }
                        </script>
                        <h4>Description</h4>
                        <input id="input_page_seo_description" type="text" value="{{pages[page_name]['seo']['description']}}"> <button onclick="send_data_input_seo_description()">change</button>
                        <script>
                            async function send_data_input_seo_description(){
                            var value = document.getElementById('input_page_seo_description').value
                            var key = "seo_description"
                            var where ="pages.json"
                            var page = "{{page_name}}"
                            var response = await fetch("/api/change/", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({ 
                                    value,
                                    key,
                                    where,
                                    page }),
                            });

                        }
                        </script>
                </div>
                <div style="display: block; width: 50%; background-color: lightgray;">
                    Noch platz für neues
                </div>
            </div>

        </div>
    </div>
    <div style="display: flex; flex-direction: column; width: 100%; margin-bottom: 5%;">
    {% for modul_counter in module_list_len %}
        {% with module_name = module_name[modul_counter], module_id = module_id[modul_counter], module_content = module_content[module_id[modul_counter]], module_templates = module_templates[module_name[modul_counter]], get_upload_files = get_upload_files %}
            {% include 'cms/cms_edit_module.html' %}
        {% endwith %}
    {% endfor %}
    <div class="create_module_div">
        <span>
            <i class="fa-regular fa-square-plus"></i>
            <select name="input_create_module" id="input_create_module">
                {% for module_template in module_templates.keys() %}
                <option value="{{module_template}}">{{module_template}}</option>
                {% endfor %}
            </select>
                <span style="margin-left: 5px;">
                    <button onclick="create_module()">Create</button>
                </span>
        </span>
    </div>
    </div>
    <script>
        function create_module() {
            var name = document.getElementById("input_create_module").value;
            var moduleKey = "module"; // Verwende einen anderen Namen als "key", um Kollisionen zu vermeiden
            var page = "{{page_name}}";

            fetch("/api/create", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    name: name,
                    key: moduleKey, // Verwende den neuen Variablennamen moduleKey
                    page: page
                }),
            })
            .then(function(response) {
                if (response.status === 200) {
                    location.reload();
                }
            })
            .catch(function(error) {
                console.error('Error:', error);
            });
        }

    </script>
    
    <div style="height: 100%;">
    {% with page_route=page_route  %}
        {% include 'cms/cms_vorschau.html' %}
    {% endwith %}
    </div>

{% endblock %}