<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} </title>
    <script src="{{ url_for('static', filename='fontawesomefree/js/all.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/cms.css') }}">
</head>
<body>
    <script>
        // Deaktiviere den Cache für alle HTTP-Anfragen
        function disableCache() {
            // Füge der URL ein zufälliges Query-Parameter hinzu, um den Cache zu verhindern
            var randomParam = '?nocache=' + Math.random();
                    
            // Holen Sie alle Bilder auf der Seite
            var images = document.getElementsByTagName('img');
            for (var i = 0; i < images.length; i++) {
                // Füge dem Src-Attribut ein zufälliges Query-Parameter hinzu
                images[i].src += randomParam;
            }
        }
        
        // Führe die Funktion zum Deaktivieren des Caches aus, wenn das DOM vollständig geladen ist
        window.onload = function() {
            disableCache();
        };
    </script>

<div style="display: flex; flex-direction: row; background-color: #efefef; ">

        
        {% with user_data=user_data, module_content = module_content, pages =pages  %}
            {% include 'cms/cms_sidebar.html' %}
        {% endwith %}


    <div style="display: block; width: 100%; height: 100vh; overflow-y: scroll;  padding: 1%; position: relative;">
        {% block content %} {% endblock %}
        
    </div>
</div>
</body>
</html>
