{% extends "cms/cms_template.html" %} 
{% block title %}Home{% endblock %}
{% block content %}
<div class="Dashboard">
    <div>
      <img class="profile" width="120" height="120"  src="https://source.boringavatars.com/beam/120/{{user_data['username']}}">
      <div class="container">
        <h3>Username</h3>
        <div class="inputs">
          <input id="input_username" placeholder="Username" type="text" value="{{user_data['username']}}">
          <button onclick="send_data_input()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M92.69,216H48a8,8,0,0,1-8-8V163.31a8,8,0,0,1,2.34-5.65L165.66,34.34a8,8,0,0,1,11.31,0L221.66,79a8,8,0,0,1,0,11.31L98.34,213.66A8,8,0,0,1,92.69,216Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="136" y1="64" x2="192" y2="120" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg></button>
          <script>
            async function send_data_input(){
            var value = document.getElementById('input_username').value
            var key = "username"
            var where ="login_daten.json"
            var page = "{{user_data['username']}}"
            
            var response = await fetch("/api/change/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ 
                    value,
                    key,
                    where,
                    page }),
            });}
            
        </script>
        </div>
        <h3>E-Mail</h3>
        <div class="inputs">
          <input placeholder="E-Mail" type="E-Mail" value="{{user_data['email']}}">
          <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M92.69,216H48a8,8,0,0,1-8-8V163.31a8,8,0,0,1,2.34-5.65L165.66,34.34a8,8,0,0,1,11.31,0L221.66,79a8,8,0,0,1,0,11.31L98.34,213.66A8,8,0,0,1,92.69,216Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="136" y1="64" x2="192" y2="120" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg></button>
        </div>
        <h3>Password</h3>
        <div class="inputs">
          <input placeholder="password" type  ="password">
          <button><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M92.69,216H48a8,8,0,0,1-8-8V163.31a8,8,0,0,1,2.34-5.65L165.66,34.34a8,8,0,0,1,11.31,0L221.66,79a8,8,0,0,1,0,11.31L98.34,213.66A8,8,0,0,1,92.69,216Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="136" y1="64" x2="192" y2="120" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg></button>
        </div>
      </div>
    </div>
  </div>
  
  <style>
  
    .Dashboard{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #efefef;
    }
    button{
      width:13%;
      margin-left: 2%;
      
    border: none;
    }
    .inputs{
      
      background-color: #efefef;
    border-radius: 1rem;
      overflow: hidden;
      display: flex;
      
      border: 0.5px solid gray;
      
    }
    input {
    width: 100%;
    border: none;
    background-color: #efefef;
    padding: 12px 20px;
  }
    .profile{
      margin-bottom: -60px;
      display: flex;
      display: unset;
    }
    .container{
      text-align: left;
      padding: 16px 24px;
      width: 25dvw;
      min-width: 400px;
      height: 400px;
      background-color: #ffff;
      border-radius: 1rem;
      box-shadow:  5px 5px 15px 5px rgba(0,0,0,0.34);
      border: 0.5px solid gray;
    }
  
  </style>

  
{% endblock %}