{% extends "cms/cms_template.html" %} 
{% block title %}Home{% endblock %}
{% block content %}

<script>
    function send_data(){
        var data = extractTableData()
        var response = fetch("/api/header_change/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                        body: JSON.stringify({ 
                            data
                                }),
                        }).then(()=>{
                            if(response.status == 200){
                            }else{

                            }
                        });
    }
</script>

<table id="table_header" style="width: 50%;">
    <thead>
        <tr>
          <th style="width: 50%;">Name</th>
          <th style="width: 50%;">URL</th>
        </tr>
    </thead>
    <tbody >
{% for item in pages["Header"]["list"] %}
    {% for key in item.keys() %}
    {{count}}
        <tr >
            <th><input style="width: 100%;" id="header_name_{{key}}" type="text" value="{{key}}"></th>
            <th><input style="width: 100%;" id="header_url_{{key}}" type="text" value="{{item[key]}}"></th>
            <th><button id="header_submit_{{key}}" type="submit">change</button></th>
        </tr>
        <script>
            document.getElementById("header_submit_{{key}}").addEventListener("click", send_data)
        </script>
    {%endfor%}
{% endfor %}
<tr >
    <th><input style="width: 100%;" class="header_create_new" type="text" placeholder="Create New"></th>
    <th><input style="width: 100%;" type="text" placeholder="URL"></th>
    <th></th>
</tr>
</tbody>
</table>
<!-- <div style="display: flex; width: 50%; justify-content: space-evenly;">
    <h4>Header background-color</h4> <input type="color">
</div> -->

<script>
    document.querySelector(".header_create_new").addEventListener('input', create_new)
    
    function create_new(event){
        

        const newRowInputs = document.querySelectorAll('.header_create_new');
        newRowInputs[0].classList.remove('header_create_new')
        if (newRowInputs.length > 0) {
            const newRow = newRowInputs[newRowInputs.length - 1].closest('tr'); // Die neueste Zeile finden
            if (newRow) {
                const thirdColumn = newRow.querySelector('th:nth-child(3)');
                
                // Hier ein neues Button-Element erstellen
                const newButton = document.createElement('button');
                newButton.setAttribute('id', 'header_submit');
                newButton.setAttribute('type', 'submit');
                newButton.textContent = 'change';

                // Füge das zusätzliche Button-Element zur dritten Spalte hinzu
                thirdColumn.appendChild(newButton);
                newButton.addEventListener("click", send_data)
            }
        }

        const table = document.getElementById('table_header').getElementsByTagName('tbody')[0];
        
        const newRow = table.insertRow(table.rows.length);
        const cell1 = document.createElement('th');
        const cell2 = document.createElement('th');
        const cell3 = document.createElement('th');
        cell1.innerHTML = '<input class="header_create_new" type="text" placeholder="Create New">';
        cell2.innerHTML = '<input type="text" placeholder="URL">';
        cell3.innerHTML = '';
        newRow.appendChild(cell1);
        newRow.appendChild(cell2);
        newRow.appendChild(cell3);
        document.querySelector(".header_create_new").addEventListener('input', create_new)
        event.target.removeEventListener('input', create_new);
    }
</script>
<script>

    function extractTableData() {
        var tableRows = document.querySelectorAll('tbody tr');
        var data = [];
        tableRows.forEach(row => {
            var name = row.children[0].firstChild.value
            var url = row.children[1].firstChild.value 
            console.log(name,url)
            if (name && url) {    
                var entry = {};
                entry[name] = url;
                data.push(entry);
            }
        });
    
        return data;
    }
    </script>
{% endblock %}